<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-md-8">
        <h2>Edit <%= resource_name.to_s.humanize %></h2>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="form-group">
            <%= f.label :email,"Email address" %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email",class: "form-control",placeholder: "Enter email" %>
          </div>

          <div class="form-group">
            <%= f.label :name %><br />
            <%= f.text_field :name,class: "form-control" %>
          </div>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>

          <div class="form-group">
            <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
            <%= f.password_field :password, autocomplete: "new-password",class: "form-control" %>
            <% if @minimum_password_length %>
              <br />
              <em><%= @minimum_password_length %> characters minimum</em>
            <% end %>
          </div>

          <div class="form-group">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password",class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
            <%= f.password_field :current_password, autocomplete: "current-password",class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.submit "Update", class: "btn btn-primary" %>
          </div>
      <% end %>
        
      </div>
      <div class="col-md-4">
        <h3>Cancel my account</h3>

        <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger" %></p>
      </div>
    </div>
    <div class="auth-links">
      <%= link_to "Back", :back %>  
    </div>
    
  </div>
</div>