<div class="login">
  <div class="card">
    <div class="card-body">
			<h2>Forgot your password?</h2>

			<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
			  <%= render "devise/shared/error_messages", resource: resource %>

			  <div class="form-group">
			    <%= f.label :email %><br />
			    <%= f.email_field :email, autofocus: true, autocomplete: "email",class: "form-control" %>
			  </div>

			  <div class="form-group">
			    <%= f.submit "Send me reset password instructions",class: "btn btn-primary btn-block" %>
			  </div>
			<% end %>
			<div class="auth-links">
				<%= render "devise/shared/links" %>
			</div>
    </div>
  </div>
</div>