<nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="margin-bottom: 3rem;">
  <div class="collapse navbar-collapse container">
    <div class="navbar-nav">
      <%= nav_helper("nav-link","span") %>
      <%= login_helper('nav-link') %>
    </div>
  </div>
</nav>
