<div class="blog-header" style="margin-bottom: 2rem;">
  <div class="container">
    <h1 class="blog-title">My blog</h1>
    <p class="lead blog-description">An example blog template buit with bootstrap</p>
    <%= link_to 'New Blog', new_blog_path if logged_in?(:site_admin) %>
  </div>
</div>