<div class="<%= location %>">
  <div><%= link_to "Home", root_path %></div>
  <div><%= link_to "About me", about_me_path %></div>
  <div><%= link_to "Contact", contact_path %></div>
  <div><%= link_to "Blogs", blogs_path%></div>
  <div><%= link_to "Portfolio", prt_folios_path%></div>
</div>