<footer class="text-muted">
  <div class="container">
    <p class="float-right">
    	<%= link_to "View all portfolios", prt_folios_path %> / 
      <a href="#">Back to top</a>
    </p>
    <p><%= copyright_generator %></p>
  </div>
</footer>