<h1>About Me</h1>
<p>With over a year of development experience in a hospitality industry I realized that the typical product creation process between clients and developers was flawed.All to often developers rarely communicate with clients throughout the development stage, resulting in a final product that fails to reach the goal sought by customer and end user.</p>
<p>For this reason I decided to utilize a completely different development pattern that focuses on highly focused communication and transparent design pattern.When I take on a projet not only do I work to craft the application according to clients specifications,I give daily updates to ensure that the project is aligning properly with the clients goals.The end result is the right product, delivered on time, and on budget.</p>
