<h1>Would you like to work together?</h1>
<hr>
<div class="row">
	<div class="col-md-6">
		<h3>Office address</h3>
		<p>Wadala east Mumbai - 400037</p>
		<h3>Phone</h3>
		<p><%= number_to_phone("09833551511")%></p>
		<h3>Email</h3>
		<p>sandeep.soni068@gmail.com</p>
	</div>
	<div class="col-md-6">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3772.027075275203!2d72.86709031421177!3d19.0185285587202!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7cfd9d3076e33%3A0x71232a90cd77f462!2sSandhya%20Jeweller&#39;s!5e0!3m2!1sen!2sin!4v1577730262769!5m2!1sen!2sin" width="450" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
	</div>
</div>





