<main role="main" class="inner cover">
  <h1 class="cover-heading">Welcome.</h1>
  <p class="lead">Software development should not be secret process, when I take on a new project I make it my goal to not only deliver a well crafted product but to also ensure that each stage of the process if fully communicated.</p>
  <p class="lead">
    <%= link_to("About me", about_me_path, class: "btn btn-lg btn-secondary")%>
  </p>
</main>

