<%= form_for(portfolio_item) do |f| %>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title,class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :subtitle %>
        <%= f.text_field :subtitle,class: "form-control" %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :body %>
        <%= f.text_area :body,class: "form-control", rows: 12 %>
      </div> 
    </div>
  </div>
  <hr>
  <div class="col-md-12">
    <h2>Technologies used: </h2>
    <div>
      <%= f.fields_for :technologies do |technology_form | %>
        <div class="form-group">
          <%= technology_form.label :name %>
          <%= technology_form.text_field :name,class: "form-control" %>
        </div>
      <% end %>
    </div>

    <div class="form-group">
      <%= f.submit "Save portfolio item", class: "btn btn-primary btn-block" %>
    </div>
  </div>
<% end %>