<!-- <p></p>
<p></p>
<p></p>
<%= image_tag portfolio_item.thumb_image  unless portfolio_item.thumb_image.nil? %>
<%= link_to("Edit", edit_prt_folio_path(portfolio_item)) if logged_in?(:site_admin) %>
<%= link_to("Delete", portfolio_item, method: :delete, data: {confirm: 'Are you sure?'}) if logged_in?(:site_admin) %> -->


<div class="col-md-4">
  <div class="card mb-4 shadow-sm">
    <%= image_tag portfolio_item.thumb_image  unless portfolio_item.thumb_image.nil? %>
    <div class="card-body">
      <p class="card-text">
      	<span><%= link_to(portfolio_item.title, prt_folio_show_path(portfolio_item))  %></span>
      	<%= portfolio_item.subtitle %>  	
      </p>
      <!-- <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
          <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
        </div>
        <small class="text-muted">9 mins</small>
      </div> -->
    </div>
  </div>
</div>