<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <META name="keywords" content="<%= @seo_keywords %>" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

      <%= render "shared/application_nav" %>
      
      <%= yield %>

      <%= render "shared/application_footer" %>

      <%#= source_helper("application") %>
    </div>
  </body>
</html>
