<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="<%= @seo_keywords %>" />    
    <%= stylesheet_link_tag    'blogs', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "shared/blog_nav" %>
    <%= render "shared/blog_masthead" %>
    <div class="container">
      <div class="row">    
        <%= yield %>
        <%= render "shared/blog_sidebar" %>
      </div>
      <%= render "shared/blog_footer" %>
      <%= source_helper("blog") %>
    </div>
  </body>
</html>
