<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <META name="keywords" content="<%= @seo_keywords %>" />
    <%= stylesheet_link_tag    'prt_folios', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "shared/portfolio_nav" %>
  <main role="main">
    <%= render "shared/portfolio_masthead" unless logged_in?(:site_admin) %>
    <%= yield %>
  </main>
  <%= render "shared/portfolio_footer" %>
  <%= source_helper("application") %>
  </body>
</html>
